{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">

    <h1 class="display-1 text-center">PET HUB</h1>
    <p style="font-size: 1.2rem; margin-top: 1.5rem;">
        At PetSociety, we understand that your pets aren't just animals: they're family. That's why we've created a simple, modern, and effective platform to help you take care of them the way they deserve.
    </p>
    <p style="font-size: 1.1rem; margin-top: 1rem;">
        Manage all your pets from one place: register their information, schedule vet appointments, track each one's status, and stay on top of pending or completed appointments.
        Forget the stress of remembering dates and paper notes. PetSociety makes it easy.
    </p>
    <p style="font-size: 1.2rem; font-weight: bold; margin-top: 2rem;">
        Start caring for your pets like true professionals today!
    </p>

    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            SignIn
        </a>
        <a class="btn btn-dark" href="/signup/">
            SignUp
        </a>
    </div>
</section>
</main>

{% endblock %}